.goal {
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

    &:nth-child(odd) {
      justify-content: flex-end;
      text-align: left;
    }

    &:nth-child(even) {
      justify-content: flex-start;
      text-align: right;
    }

    > div {
      width: 40%;
    }

    > div:nth-child(odd) {
        display: flex;
        justify-content: end;
        margin-right: 50px;
    }

    > div:nth-child(even) {
        display: flex;
        justify-content: start;
        margin-left: 50px;
    }

    p {
      width: 60%;
    }
  }
}

.choices-3 {
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    padding-bottom: 100px;

    div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        div {
            padding-bottom: 50px;
            text-align: center;
    
            img {
                width: 50%;
                padding-bottom: 60px;
            }
        }
    }
}
